.otp{
  background: rgba(35, 48, 76, 1);
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.frame89{
  position: absolute;
  width: 1065px;
  height: 702px;
  top: 196px;
  border-radius: 10px;
  left: 200px;
  background-color: #FAFAFA;
}

.frame85{
  position: absolute;
  width: 425px;
  height: 702px;
  left: 0px;
  top: 0px;

  box-shadow: 5px 0px 50px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  border-radius: 10px;
}

.frame92{
  position: absolute;
  width: 271px;
  height: 459px;
  left: 45px;
  top: 36px;
  z-index: 1;
}

.group106{
  position: absolute;
  width: 271px;
  height: 298px;
  left: 0px;
  top: 0px;
}

.group106 h1{
  position: absolute;
  left: 3.69%;
  right: 87.88%;
  top: 0%;
  bottom: 95.64%;
  font-size: 25px;
  color: #444444;
  cursor: pointer;
}

.group105{
  position: absolute;
  width: 271px;
  height: 242px;
  left: 0px;
  top: 56px;
}

.group105 h1{
  position: absolute;
  width: 205px;
  height: 36px;
  left: 9px;
  top: 0px;
  float: right;
  font-style: normal;
  font-size: 24px;
  line-height: 36px;
  color: #444444;
}

.group105 p{
  position: absolute;
  width: 192px;
  height: 18px;
  left: 9px;
  top: 220px;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: start;
  color: rgba(76, 85, 101, 0.85);
}

.frame91{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 9px;
  
  position: absolute;
  width: 271px;
  height: 72px;
  left: 0px;
  top: 50px;
}

.frame91 p{
  position: static;
  width: 251px;
  height: 52px;
  left: 0px;
  top: 10px;
  text-align: start;

  font-style: normal;
  font-size: 14px;
  line-height: 26px;
  color: rgba(76, 85, 101, 0.85);

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.group104{
  position: absolute;
  width: 248.01px;
  height: 58px;
  left: 0px;
  top: 139px;
}

.group104 p{
  position: absolute;
  width: 123px;
  height: 21px;
  left: 9px;
  top: 0px;
  text-align: start;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 21px;

  color: #444444;
}

.group104 input{
  position: absolute;
  width: 248.01px;
  height: 25px;
  outline: none;
  left: 9px;
  top: 33px;
  border: 1px solid  rgba(76, 85, 101, 0.85);
  border-width: 0 0 1px 0;
}

.frame82{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 9px 29px;

  position: absolute;
  width: 165px;
  height: 45px;
  left: 53px;
  top: 414px;
  cursor: pointer;

  /* Primary */

  background: #2B83EA;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  color: #F0F3F4;
}

.group102{
  position: absolute;
  width: 998px;
  height: 702px;
  left: 0px;
  top: 0px;
}

.frame88{
  position: absolute;
  width: 493px;
  height: 586px;
  left: 505px;
  top: 60px;
}

.group101{
  position: absolute;
  width: 493px;
  height: 75px;
  left: 0px;
  top: 0px;
}

.group101 h1{
  position: absolute;
  width: 292px;
  height: 36px;
  left: 100px;
  top: 0px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #2C3539;
}

.group101 p{
  position: absolute;
  width: 493px;
  height: 27px;
  left: 0px;
  top: 48px;

  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba(76, 85, 101, 0.85);
}

.group99{
  position: absolute;
  width: 455px;
  height: 310px;
  left: 19px;
  top: 145px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.group98 ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.group98 ul li{
  width: 80px;
  height: 80px;
  border-radius: 8px;
}

.group100{
  position: absolute;
  width: 338.03px;
  height: 22px;
  left: 77px;
  top: 564px;
}

.group100 p{
  position: absolute;
  width: 338px;
  height: 21px;
  left: 0px;

  text-align: center;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  color: rgba(76, 85, 101, 0.85);
}
